<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Fabirc Composer</h1>
    <img src="./assets/images/logo_hl.png">
    <p class="lead">Sample Application that interacts with a Fabric Hyperledger blockchain for asset management.</p>
    <hr class="my-4">
    <p>Get started with making sample assets and transactions.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" [routerLink]="['/land-title']" role="button">Begin</a>
    </p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Business Network (Blockchain Backend)</h2>
      <p>Defining a business network is the entry point to any project. The business network contains participants, assets, and transactions. This represents the interface for the Fabric blockchain or backend.</p>
      <p><a class="btn btn-secondary" href="" role="button">View details »</a></p>
    </div>
    <div class="col-md-4">
      <h2>Composer Module (Middle Layer) </h2>
      <p>The Fabric Composer module is used to provide logic for handling asset and transaction management for your particular business networks. All the logic can be spun up on an express middle layer server that client applications can interact with through standard REST interactions.</p>
      <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
    </div>
    <div class="col-md-4">
      <h2>Composer Client (Client)</h2>
      <p>The client application indirectly interacts with the fabric blockchain by invoking REST Http services to the Composer express server.</p>
      <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
    </div>
  </div>

  <hr>

</div>
